body {
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
  /* padding-top: 5%; */
  padding-bottom: 10%;
}
.header {
  background-image: url('olympic.JPG');
  background-size: cover;
  height: 500px;
}

.title, .taglines{
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.bones {
  float: right;
  margin-top: 30px;
  padding-top: 45px;
}

.title {
  float: left;
  padding-top: 45px;
  /* margin-left: 47px; */
}

h1 {
  text-align: center;
  color: white;
}

.main-container {
  position: relative;
  height: 100%;
}

.dd-container, .uf-container, .dt-container {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
}

.dt-container {
  z-index: 1;
  opacity: 0;
}

.uf-container {
  z-index: 1;
  opacity: 0;
}

.dd-container {
  z-index: 2;
  /* top: -120px !important; */
}

.dd-card, .uf-card, .dt-card {
  height: inherit;
}

.dt-card {
  overflow-y: auto;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
  height: 400px;
  width: 550px;
}
.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  height: 400px;
  width: 550px;
}


#drop-container {
  height: calc(100% - 50px);
  /* border-style: dashed; */
  /* border-color: #ca1468; */
  border-radius: 4px;
}

.upload-icon {
  color: #ca1468;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -125%);
  transform: translate(-50%, -125%);
}

.drag-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.or-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 75%);
  transform: translate(-50%, 75%);
}

#browse-container {
  background-color: #ca1468;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

#upload-button {
  background-color: #FF4081;
  position: absolute;
  width: calc(50% - 20px);
}

#go-back {
  background-color: #FF4081;
  position: absolute;
  width: calc(50% - 20px);
  transform: translate(calc(100% + 20px), 0%);
}

#go-start {
  background-color: #FF4081;
  position: absolute;
  width: calc(100% - 20px);
}

#img-card {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.crop {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.loading-text {
  margin-left: 120px;
  transform: translateY(50%);
}

.bar {
  height: 20px;
  background-color: #ca1468 !important;
}

.progress {
  height: 20px !important;
  margin-top: 40px !important;
  background-color: #F5F5F5 !important;
}

.progress .determinate {
  background-color: #ca1468 !important;
}

.stat-card {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #E8EAF6;
}

::-webkit-scrollbar-thumb {
  background: #C5CAE9;
}

::-webkit-scrollbar-thumb:hover {
  background: #3F51B5;
}

::-webkit-scrollbar-thumb:active {
  background: #1A237E;
}
